@import "variables.scss";
button:disabled,
button[disabled]{
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
}

main {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  background-color: #eee;
  box-sizing: border-box;
  .error-message {
    color: $delete-color;
    text-align: center;
  }

  .nav-bar {
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.3);
    background-color: #fff;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;

    .top-top-navbar {
      width: 100%;
      background-color: #eee;

      .nav-items {
        margin: 0 150px;
        display: flex;
        align-content: center;
        justify-content: flex-end;

        a {
          text-decoration: none;

          .nav-item {
            margin-left: 25px;
            color: black;
            transition: 0.2s;

            &:hover {
              text-decoration: underline;
              color: $primary-color;
            }
          }
        }
      }
    }

    .second-nav {
      display: flex;
      //box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
      background-color: #fff;
      width: 85%;
      justify-content: space-evenly;
      align-items: center;

      a {
        flex-grow: 0;
        flex-shrink: 1;

        img {
          height: 60px;
          transition: 0.2s;

          &:hover {
            transform: scale(1.02);
          }
        }

        .fa-shopping-cart {
          font-size: 25px;
          color: #333;
        }
      }

      .search-item {
        display: flex;
        margin: 0 30px;
        flex-shrink: 0;
        flex-grow: 1;

        form {
          display: inline-block;
          height: 100%;
          display: flex;
          flex-shrink: 0;
          flex-grow: 1;
          input,
          i {
            display: inline-block;
            height: 100%;
            padding: 15px;
            &:focus {
              border: 1px solid $primary-color;
            }
          }
        }

        input {
          border: 1px solid #aaa;
          transition: 0.5s;
        }

        i {
          background-color: $primary-color;
          font-size: 17px;
          color: white;
          padding: 15px;
          &:hover {
            cursor: pointer;
            background-color: #01aa01;
          }
        }

        //&:focus{
        //    left: 0;
        //    width: 200%;
        //}
      }
    }
  }

  .add-product {
    width: 80%;
    margin: 5px auto;
    border: 3px solid #000;
    padding: 30px 10px 10px 30px;

    .multiple-value-text-input {
      width: 90%;
      margin-bottom: 10px;
      input {
        width: 100%;
        padding: 10px;
      }
    }
  }

  textarea {
    width: 90%;
    resize: vertical;
    height: 4em;
  }

  h1 {
    color: $primary-color;
  }

  input,
  label,
  button,
  textarea {
    display: block;
  }

  input {
    padding: 10px;
    width: 90%;
    border: 1px solid #aaa;
    margin-bottom: 10px;
  }

  label {
    margin-bottom: 5px;
    margin-top: 10px;
  }

  button {
    padding: 8px;
    width: 20%;
    background-color: $primary-color;
    color: white;
    border: 1px solid #aaa;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;

    &:hover {
      background-color: white;
      color: $primary-color;
    }
  }

  a {
    text-decoration: none;
  }

  @keyframes slider {
    0% {
      background-image: url("https://www.meinstilm.com/wp-content/uploads/2019/01/29a280b9706fe0e57db683c81808fe62.jpeg");
    }
    30% {
      background-image: url("https://www.popsci.com/resizer/Oe9WIAFntkdB5WvU5qobdJAwuhk=/760x508/arc-anglerfish-arc2-prod-bonnier.s3.amazonaws.com/public/W6LFGBOJXVEFPD6VXKZKFGA4HM.jpg");
    }

    70% {
      background-image: url("https://www.freegreatpicture.com/files/75/24558-hd-women-shopping.jpg");
    }
    100% {
      background-image: url("https://www.meinstilm.com/wp-content/uploads/2019/01/29a280b9706fe0e57db683c81808fe62.jpeg");
    }
  }

  .error {
    display: block;
    width: 50%;
    background-color: red;
    color: white;
    padding: 5px;
    margin: 10px 0 10px 0;
  }

  .content {
    margin: 101px 0 50px 0;
    padding: 10px;
    min-height: 800px;

    .search-product-container {
      display: flex;
      margin: 10px 150px;
      .side-bar {
        width: 15%;
        flex-grow: 0;
        flex-shrink: 0;
        .side-bar-label {
          width: 95%;
          font-size: 20px;
          font-weight: bold;
          margin: 10px;
        }

        .order {
          width: 90%;
          background-color: #fff;
          padding: 10px;

          div {
            width: 95%;
            font-size: 20px;
            font-weight: bold;
            margin: 10px 0;
          }
        }
      }

      .search-product-container {
        width: 80%;
        display: flex;
        flex-direction: column;
        flex-grow: 0;
        flex-shrink: 0;

        .search-title {
          font-size: 20px;
          justify-content: center;
        }
        .products {
        }
      }
    }

    .referal-container {
      display: flex;
      margin: 10px 150px;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;
      background-color: #fff;
      padding: 10px;

      div {
        font-size: 20px;
        font-weight: bold;
      }
    }
    .referal-person-container {
      margin: 10px 150px;

      .person-conatiner {
        display: flex;

        .person-details {
          padding: 10px;
          margin: 10px;
          background-color: #fff;
          border-radius: 10px;

          .date {
            color: #888;
            text-align: right;
            margin: 10px 0;
          }
        }
      }
    }

    .add-container {
      display: flex;
      margin: 10px 150px;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;
      div {
        font-weight: bold;
        font-size: 20px;
      }
      button {
        background-color: #333;
        font-size: 20px;
      }
    }

    .own-container {
      display: flex;
      margin: 10px 150px;
      flex-wrap: wrap;

      .verify-seller {
        width: 20%;
        background-color: #fff;
        margin: 10px;
        padding: 20px;

        .button-container {
          display: flex;
          width: 100%;
          button {
            width: 50%;
            margin-right: 10px;
            transition: 0.5s;
            &:hover {
              background-color: #fff;
              color: #000;
            }
          }

          .edit {
            background-color: $edit-color;
          }
          .delete {
            background-color: $delete-color;
          }
        }
        div {
          margin: 10px;
        }
      }
      .product {
        width: 20%;
        background-color: #fff;
        margin: 10px;
        padding: 20px;

        img {
          width: 100%;
          height: 250px;
          object-fit: contain;
        }

        .button-container {
          display: flex;
          width: 100%;
          button {
            width: 50%;
            margin-right: 10px;
          }

          .edit {
            background-color: blue;
          }
          .delete {
            background-color: red;
          }
        }
      }
    }

    .slider-container {
      width: 100%;
      border: 2px solid #ccc;
      padding: 0px;
      margin: 10px auto;
      height: 500px;
      background-image: url("http://www.proshopping.org/wp-content/uploads/2018/08/24517-hd-women-shopping.jpg");
      background-position: top center;
      background-repeat: no-repeat;
      background-size: cover;
      animation: slider 10s ease-in-out 5s infinite normal;
      border-radius: 5px;
    }

    .bseller-container {
      margin: 10px 150px;
      padding: 20px;
      background-color: #fff;
    }

    .order-container {
      margin: 10px 150px;
      padding: 20px;
      background-color: #fff;
      display: flex;
      align-items: center;
      div {
        font-size: 18px;
        padding: 5px;
        .date {
          color: #999;
          margin-top: 10px;
        }
      }
      .products {
        display: flex;
        justify-content: space-around;
        flex-flow: row wrap;
        .link {
          text-decoration: none;
          color: #000;
        }

        .product {
          justify-content: center;
          border-radius: 5px;
          overflow: hidden;
          text-align: center;
          width: 200px;
          background-color: #fff;
          display: flex;
          flex-direction: column;
          align-items: center;
          transition: 0.3s all;
          flex-grow: 1;
          flex-shrink: 0;
          img {
            height: 100px;
          }

          .products_name {
            width: 100%;
            text-align: center;
            font-size: 20px;
          }
        }
      }
    }

    .auth-container {
      margin: 85px auto;
      width: 50%;
      background-color: #fff;
      border: 2px solid #ccc;
      padding: 30px;
    }

    .product-container {
      display: flex;
      margin-left: 150px;
      margin-right: 150px;
      background-color: #fff;
      .image-area {
        width: 50%;
        margin: 10px;
        img {
          width: 100%;
          object-fit: contain;
        }
      }
      .product-details {
        width: 50%;
        margin: 10px;

        .line {
          border-bottom: 2px solid #ccc;
          margin: 20px 0;
        }
        button {
          padding: 20px;
          font-size: 25px;
          font-weight: bold;
          margin-top: 20px;
          width: 50%;
        }

        .product-description {
          font-size: 20px;
          margin: 20px 0;
        }
      }
    }

    .cart-container,
    .checkout-container {
      display: flex;
      justify-content: center;

      .billing-details {
        background-color: #fff;
        padding: 30px;
      }

      .cart-products,
      .billing-details {
        width: 60%;
        margin: 20px;

        .cart-product {
          display: flex;
          justify-content: space-around;
          align-items: center;
          background-color: #fff;
          margin: 2px;

          .product-name {
            flex-basis: 40%;
          }

          .cart-image {
            width: 100px;
            height: 100px;
            object-fit: contain;
          }

          div {
            font-size: 18px;
          }

          .remove-button {
            font-size: larger;
            font-weight: bold;
            padding: 5px;
            margin: 5px;
            &:hover {
              background-color: red;
              cursor: pointer;
              color: white;
            }
          }
          .product-quantity {
          }

          input {
            width: 10%;
            display: inline;
          }

          i {
            display: inline;
            padding: 5px;
            transition: 0.3s;

            &:hover {
              color: $primary-color;
              cursor: pointer;
            }
          }
        }
      }

      .cart-details {
        background-color: #ddd;
        width: 20%;
        max-height: 382px;
        label {
          padding: 0 30px;
          font-size: larger;
        }

        .payment-type {
          width: 80%;
          padding: 0 30px;
          display: flex;
          flex-direction: column;
          div {
            display: flex;
            align-items: center;
            input {
              width: 10%;
            }
            input,
            p {
              display: inline;
            }
          }
        }

        table {
          width: 80%;
          padding: 30px;

          tr {
            border-bottom: 1px solid #fff;
            padding: 5px;
            margin: 5px;

            .product-name {
              text-align: left;
            }

            .price {
              text-align: right;
            }
          }
        }

        &:before {
          content: "";
          display: block;
          height: 10px;
          width: 100%;
          box-sizing: inherit;
          background-color: transparent;
          background-size: 20px 20px;
          background-position: 0 10px;
          margin-top: -10px;
          background-image: radial-gradient(
            closest-side,
            transparent 9px,
            rgba(84, 84, 84, 0.05) 100%
          );
        }

        &:after {
          content: "";
          display: block;
          height: 10px;
          width: 100%;
          box-sizing: inherit;
          background-color: transparent;
          background-size: 20px 20px;
          position: relative;
          bottom: -10px;
          background-image: radial-gradient(
            closest-side,
            transparent 9px,
            rgba(84, 84, 84, 0.05) 100%
          );
        }

        button {
          width: 90%;
          display: block;
          margin: 0 auto 10px;
        }

        h2 {
          padding: 30px;
          display: block;
          border-bottom: 1px dotted #000;
        }
      }
    }

    .cart-calc {
      text-align: right;
      font-size: 25px;
      font-weight: bold;
      padding: 50px;
    }

    .checkout {
      background-color: #012;
      padding: 10px;
      font-size: medium;
    }

    .heading {
      font-weight: bold;
      font-size: 40px;
      text-align: center;
      margin-bottom: 30px;
      border-bottom: 1px solid #aaa;
      box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);
      padding: 20px 0 20px 0;
    }

    .section-heading {
      margin-left: 150px;
      font-size: 30px;
      font-weight: bold;
      padding: 5px;
      p {
        display: inline;
        color: $primary-color;
      }
    }

    .products {
      display: flex;
      justify-content: space-around;
      flex-flow: row wrap;
      margin-left: 150px;
      margin-right: 150px;
      .link {
        text-decoration: none;
        color: #000;
      }

      .product {
        margin: 10px;
        padding: 5px;
        border: 2px solid #fff;
        justify-content: center;
        border-radius: 5px;
        overflow: hidden;
        text-align: center;
        width: 300px;
        background-color: #fff;
        display: flex;
        flex-direction: column;
        align-items: center;
        transition: 0.3s all;
        flex-grow: 1;
        flex-shrink: 0;

        &:hover {
          transform: scale(1.01);
          box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
          cursor: pointer;
        }

        &:hover .add-to-cart-container {
          display: block;
          opacity: 1;
        }

        .products_name {
          width: 90%;
        }

        button {
          width: 90%;
          padding: 10px;
          margin: 10px;
        }

        .image {
          padding: 5px;
          width: 290px;
          height: 200px;
          object-fit: contain;
        }

        .products_name {
          text-align: center;
          font-size: 18px;
          margin: 5px;
        }

        &:hover .products_name {
          text-decoration: underline;
        }

        .add-to-cart-container {
          position: absolute;
          bottom: 10px;
          right: 0;
          width: 100px;
          background-color: #ccc;
          transition: all 0.5s;
          opacity: 0;
          display: none;

          i {
            color: #000;
            font-size: 40px;
            transition: 0.3s;
            &:hover {
              transform: scale(1.1);
            }
          }
        }
      }
    }
  }

  .footer-container {
    background-color: #222;
    color: whitesmoke;
    padding: 20px 0 20px 0;
    width: 100%;
    display: flex;
    justify-content: space-around;

    // div{
    //   flex-grow: 1;
    //   flex-shrink: 1;
    // }
    p {
      text-align: justify;
    }

    .about-us {
      flex-basis: 30%;
    }
  }
}
